body {
    background: #f2f2f2;
}

#page {
    margin-top: 100px;
}

#left {
    padding: 30px;
}

#right {
    padding: 30px 50px 30px 50px;
}

select option[data-default] {
  color: darkgrey;
}

@media(max-width: 540px) {
    #left {
        display: none;
    }

    #page {
        margin-top: 20px;
    }

    #state {
        width: 100%;
    }
}
